<link rel="import" href="./bar-chart.html">


<dom-module id="chart-two">
<style>
      :host {
        display: block;
      }
      :host([active]) {
        display: block;
      }
      h3 {
      	text-align: center;
      }
</style>
   <template>
    	<h3>Chart 2 "Gender division"</h3>
	    <bar-chart></bar-chart>
  </template>
  <script>
		Polymer({
			is: "chart-two",
			properties: {
		        active: {
		          type: Boolean,
		          value: false,
		          reflectToAttribute: true
		        },
		        loading: {
		          type: Boolean,
		          value: false,
		          notify: true
		        }
		      },
			ready: function() {
				
			}
		});

	</script>
</dom-module>
